<h3>Crear Direccion</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">DNI</label>
            <input type="text" class="form-control" id="dni" required [(ngModel)]="direccion.dni" name="dni">
        </div>

        <div class="form-group">
            <label for="name">Calle</label>
            <input type="text" class="form-control" id="calle" required [(ngModel)]="direccion.calle" name="calle">
        </div>

        <div class="form-group">
          <label for="name">Numero</label>
          <input type="text" class="form-control" id="numero" required [(ngModel)]="direccion.numero" name="numero">
      </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Enviado correctamente!</h4>
</div>